label {
    display: block;
}
  
.submit {
    display: block;
}

#input{
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}
  
#textarea {
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
}