html, body {
	min-width: 450px;
}

.App {
  text-align: left;
  margin: 20px;
  display: flex;
}

li {
  display: flex;
  list-style-type: none;
  border: 1px solid;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
}

ol {
  margin-left: 0; 
  padding-left: 0; 
}

label {
  display: block;
}

.submit {
  display: block;
}

.move-to-favorites{
  border: none;
  outline: none;
  background-color: #ffffff;
  margin: 15px 10px 0 0;
  align-self: flex-start;
  cursor: pointer;
}

.move-to-favorites:before {
  content: "\f005";
  font-family: FontAwesome;
  font-size: 25px;;
  color: #484848;
}

.checked:before {
  color: #ff5722;
}

.all-posts{
  max-width: 45%;
  margin: 0 10px;
}

.favorites-posts{
  width: 100%;
  margin: 0 10px;
}

.post-section{
  width: 100%;  
}

label {
    display: block;
}

#input{
  border: 1px solid;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

#textarea {
  border: 1px solid;
  border-radius: 5px;
  width: 100%;
}
